# INTRODUCTION TO PANDAs

In [3]:
import pandas as pd

In [9]:
a=pd.Series([1,2,3,4,5,6])
a

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [10]:
'a.index'

RangeIndex(start=0, stop=6, step=1)

In [12]:
a=['b']

In [13]:
a[['c','a,'f',]]

SyntaxError: EOL while scanning string literal (<ipython-input-13-db35d2eb6615>, line 1)

In [14]:
a

['b']

In [15]:
a[1:4]

[]

In [16]:
a

['b']

In [17]:
a=pd.Series([1,2,3,4,5,6])
a

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [18]:
a

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [19]:
a[1:4]

1    2
2    3
3    4
dtype: int64

In [21]:
b = pd.Series(np.arange(1,101,2))

In [22]:
b

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
15    31
16    33
17    35
18    37
19    39
20    41
21    43
22    45
23    47
24    49
25    51
26    53
27    55
28    57
29    59
30    61
31    63
32    65
33    67
34    69
35    71
36    73
37    75
38    77
39    79
40    81
41    83
42    85
43    87
44    89
45    91
46    93
47    95
48    97
49    99
dtype: int32

In [23]:
b[0:11]

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
dtype: int32

In [24]:
a[1]

2

In [25]:
a.iloc[0]

1

In [27]:
a.loc[1]

2

In [28]:
a[1::2]

1    2
3    4
5    6
dtype: int64

In [31]:
students = pd.Series([40,60,20,30,45],index=['yasir','sufyan','mufy','ahsan','yasir'])

In [32]:
print

In [33]:
students

yasir     40
sufyan    60
mufy      20
ahsan     30
yasir     45
dtype: int64

In [36]:
students['ahsan']

30

In [37]:
students['mufy']=100

In [38]:
students

yasir      40
sufyan     60
mufy      100
ahsan      30
yasir      45
dtype: int64

In [40]:
students[students>50].index

Index(['sufyan', 'mufy'], dtype='object')

In [41]:
students*10

yasir      400
sufyan     600
mufy      1000
ahsan      300
yasir      450
dtype: int64

In [42]:
dictionary = {'ali':90,'hamza':95}

In [43]:
dictionary

{'ali': 90, 'hamza': 95}

In [48]:
ser=pd.Series(dictionary)

ser

In [50]:
ser[ser > 70]

ali      90
hamza    95
dtype: int64

In [57]:
ser[ser>=70][ser<80]

Series([], dtype: int64)

In [66]:
addition=students + ser
addition

ahsan    NaN
ali      NaN
hamza    NaN
mufy     NaN
sufyan   NaN
yasir    NaN
yasir    NaN
dtype: float64

In [70]:
addition.fillna(4).index

Index(['ahsan', 'ali', 'hamza', 'mufy', 'sufyan', 'yasir', 'yasir'], dtype='object')